.circle{
  width: 450px;
  height: 450px;
  
  background: linear-gradient(to bottom, #F5576C, #F093FB);
  box-shadow: 0 5px 25px rgba(0,0,0,.15);
  border-radius: 75% 25% 60% 40% / 60% 25% 75% 40%;

  animation: circleRadius 15s alternate infinite;
  
  position: absolute;
  right: 2rem;
  bottom: 10rem;
  z-index: 1;
}

@keyframes circleRadius {
  0% {
    border-radius: 75% 25% 60% 40% / 60% 25% 75% 40%;
  }
  40% {
    border-radius: 21% 79% 40% 60% / 20% 57% 43% 80%;
  }
  75% {
    border-radius: 58% 42% 82% 18% / 83% 38% 62% 17%;
  }
  100% {
    border-radius: 75% 25% 60% 40% / 60% 25% 75% 40%;
  }
}