.lang {
  text-align: right;
  font-size: 1rem;
  font-weight: 500;
  text-transform: uppercase;
}

.lang__item {
  margin-left: 0.5rem;
  border-radius: $radius;
  padding: .4rem .5rem;
  color: $black;
  text-decoration: none;

  &:hover {
    color: $black;
    background-color: darken($gray, 3%);
  }

  &.active {
    color: $pink;

    &:hover {
      color: $pink;
      background-color: #fff;
    }
  }
}
