@import "vars";

// === DEFAULT STYLES ===
*,
*:before,
*:after {
  box-sizing: border-box;
}

html{
  font-size: 15px;
}

body {
  margin: 0;

  background-color: $gray;

  font-family: 'Montserrat', sans-serif;
  color: $black;
  font-size: 1rem;
  line-height: 1.5;
}

html, 
body {
  height: 100%;
}

p {
  margin: 0;
  padding: 0;
}
// === / DEFAULT STYLES ===

// === BOOTSTRAP ===
@import "../../../node_modules/bootstrap/scss/functions";
@import "../../../node_modules/bootstrap/scss/variables";
@import "../../../node_modules/bootstrap/scss/mixins";
@import "../../../node_modules/bootstrap/scss/grid";
@import "../../../node_modules/bootstrap/scss/modal";
@import "../../../node_modules/bootstrap/scss/transitions";
// === / BOOTSTRAP ===

// === BLOCKS ===
@import "blocks/page";
@import "blocks/header";
@import "blocks/logo";
@import "blocks/nav";
@import "blocks/lang";
@import "blocks/content";
@import "blocks/intro";
@import "blocks/button";
@import "blocks/contacts";
@import "blocks/author";
@import "blocks/circle";
@import "blocks/social";
@import "blocks/footer";
@import "blocks/services";
@import "blocks/portfolio";
@import "blocks/modal";
@import "blocks/form";
// === / BLOCKS ===

// === VENDOR LIBS ===
@import "../../../node_modules/slick-carousel/slick/slick";
@import "vendor/slick";
// === / VENDOR LIBS ===