// === COLORS ===
// $primary: ;
$pink: #CF246C;
$gray: #FAFAFA;
$black: #121212;
$white: #FFF;
$gray_dark: #A1A1A1; 
// === / COLORS ===

// === WHITESPACE ===
// $indent: 15px;
// === / WHITESPACE ===

// === BORDER-RADIUS ===
$radius_sm: 5px;
$radius: 10px;
// === / BORDER-RADIUS ===

// === BOX-SHADOW ===
$shadow: 0 0 25px rgba(0,0,0,.05);
// === / BOX-SHADOW ===